<nav class="navbar navbar-light" style="background-color:rgb(253, 114, 114)">
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-home" aria-hidden="true">Home</i></h6></a>
    <a class="navbar-brand" routerLink="/user-dashboard" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-list" aria-hidden="true"> Dashboard</i></h6></a>
    <a class="navbar-brand" routerLink="/about" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-info-circle" aria-hidden="true"> About</i></h6></a>
    <a class="navbar-brand" routerLink="/contact" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-phone-square" aria-hidden="true">  Contact Us</i></h6></a>
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h6 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-sign-out" aria-hidden="true"> Sign Out</i></h6></a>
  </nav>